/*
Registration CSS
*/
#formRegistration, #formLogin{
	border: solid #dee2e6;
	padding: 1.5rem;
}
#NegativeAlert{
	display: none;
}
#PositiveAlert{
	display: none;
}

/*
Login CSS
*/
#principalDiv{
	margin-top: 4%;
}

/*
header
*/
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
